@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); 
*{
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR',sans-serif;
  height: 100%;
}
header {
  height: 130px;
  background-color: white;
}
.header-wrap{
  width: 1280px;
  margin: 0 auto;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mainlogo{
  margin-left: 30px;
  height: 80px;
  width: 160px;
}
.header-wrap-btns{
  height: 90px;
  width: 300px;
  margin-right: 30px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
}
.header-wrap-cart{
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
  margin: 10px 50px;
  height: 60px;
}
.cartlogo{
  height: 60px;
}
.header-wrap-login{
  border: 1px solid black;
  display: flex;
  align-items: center;
  height: 60px;
  text-decoration: none;
  color: black;
  border-radius: 10px;
  padding:0 5px;
}
nav {
  /* border: 1px solid black; */
  height: 50px;
  display: flex;
  border-top:1px solid black;
  border-bottom: 1px solid black;
}
.nav-wrap{
  display: flex;
  width: 1280px;
  margin: 0 auto;
}
.nav-wrap>ul {
  /* border: 1px solid black; */
  list-style: none;
  display: flex;
  align-items: center;
}
.nav-wrap-menu>a{
  /* border: 1px solid black; */
  margin:0 10px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}
main {
  height: 100%;
  background-color: beige;
  width: 1280px;
  /* 가운데 정렬 */
  margin: 0 auto;
}
footer{
  height: 200px;
  background-color: #EFEFEF;
  /* border: 1px solid black; */
}
.footer-wrap{
  width: 1280px;
  margin: 0 auto;
}
.footer-info{
  height: 50px;
  padding: 0 20px;
  border-bottom: 1px solid black;
}
.footer-info-list{
  display: flex;
}
.footer-info-list li{
  margin: 0 20px;
  display: flex;
  padding: 10px 0;
}
.footer-info-list li>a{
  text-decoration: none;
  color: black;
}
.footer-sup{
  display: flex;
  height: 150px;
}
.footer-sup-detail{
  color: black;
  height: 130px;
  margin: 10px 40px;
  margin-bottom: 0;
  font-size: 13px;
}
.footer-sup-detail>a{
  text-decoration: none;
  color: black;
}